.table {
  display: table;
  width: 100%;
  
  .td {
    position: relative;
    display: table-cell;
    background: #fff;
    text-align: left ;
    font-size: 13px;
    padding: 12px;
    border-bottom: solid 2px #fff;
  }
  .tr {
    display: table-row;
    padding: 0 20px 0 0;
  }
  .tr-head {
    display: table-row;

    .td {
      background: transparent;
      font-weight: 600;
      border-bottom: none;
    }
  }
  &.selectable {
    .tr {
      .td {
        cursor: pointer;
      }
      &:hover {
        .td {
          background: $primary_light;
        }
      }
    }
  }
}